.app-footer {
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    p {
        margin-bottom: 5px;
    }

    .links {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 20px;
        flex-wrap: wrap;

        a {
            color: white;
            border: none;
            text-decoration: none;;
        }
    }
}