.language-change-wrapper {
    color: white;
    position: relative;
    background-color: var(--ui-overlay-light);
    border-radius: 0.3rem;
    margin-right: 0.3rem;

    .language-change {
        border: none;
        height: 2.5rem;
        width: 6rem;
        border-radius: 0.3rem;
        background: transparent;
        padding-right: 1.25rem;
        text-align: center;
        outline: none;
        appearance: none;
        transition: all 0.3s ease;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.9375rem;
        z-index: 1;
        position: relative;
        color: white;

        option {
            background-color: black;
        }

        &:hover,
        &:focus {
            border-color: var(--ui-accent);
            color: var(--ui-accent);
        }

        &:hover + .l-icon,
        &:focus + .l-icon {
            fill: var(--ui-accent);
        }
    }

    .l-icon {
        position: absolute;
        right: 1rem;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.3s ease;
        z-index: 0;
        fill: white;
    }
}
