.ReactTags__tags {
    position: relative;
}

.ReactTags__clearAll {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background: #f88d8d;
    color: #fff;
    border: none;
}

/* Styles for the input */
.ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
    background-color: transparent;
}

.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    padding: 8px;
    box-sizing: border-box;
    color: white;
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    min-width: 180px;
    width: 200px;
    appearance: none;
    background-color: rgba(255,255,255,.05);
    border: none;
    border-radius: 5px;
    outline: none;
}

.ReactTags__editInput {
    border-radius: 1px;
}

.ReactTags__editTagInput {
    display: inline-flex;
}

.ReactTags__selected {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
    background: rgba(255,255,255,.1);
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
    z-index: 98;
}

.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: #111;
    width: 200px;
    border-radius: 5px;
    padding: 0;
    padding-top: 1px;
    padding-bottom: 1px;
}

.ReactTags__suggestions li {
    padding: 0;
    margin: 0;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.ReactTags__suggestions li mark {
    background: none;
    font-weight: 600;
    color: rgba(255,255,255,.5)
}

.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: rgba(255,255,255,.1);
    cursor: pointer;
}

.ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    margin-left: 10px;
}