.page.profile {
    width: 100%;
    position: relative;

    .profile-images {
        width: 100%;
        position: relative;
        height: 264px;

        .banner {
            width: 100%;
            height: 200px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(255, 255, 255, .03);
            background-image: url(../../assets/jpg/profile-banner-example.jpg);
            background-size: cover;
            z-index: 2;
            opacity: .5;
        }

        .avatar {
            width: 128px;
            height: 128px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0px;
            border-radius: 100%;
            background-color: #0d0d0d;
            background-image: url(../../assets/png/avatar-example.png);
            background-size: cover;
            z-index: 3;
        }
    }

    .profile-info {
        text-align: center;

        .form-button {
            margin: auto;
            margin-top: 20px;
        }

        h4 {
            margin: 0;
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 24px;
        }

        .stats {
            display: flex;
            gap: 10px;
            justify-content: center;
            font-size: 14px;
            opacity: .7;

            .stat {
                display: flex;
                gap: 5px;
            }
        }
    }

    .profile-products {
        text-align: center;
        margin: auto;
        margin-top: 50px;
        padding-bottom: 20px;

        .cards-wrapper {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            margin: auto;
            justify-content: center;

            +button {
                margin: auto;
                margin-top: 40px;
            }
        }
    }


}