.burger-menu-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
    width: 36px;
    height: 36px;
}
.burger-menu {
    position: fixed;
    top: 60px;
    background-color: #050505;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s ease;
    box-sizing: border-box;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .search-bar {
        display: flex !important;
        margin-bottom: 10px !important;
    }

    .form-button {
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: transparent;

        &.primary, &.active {
            background-color: white;
        }
    }

    &.hidden {
        opacity: .0;
    }
}