.page.sign-up {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 300px;

        .form-button,
        .form-input-wrapper,
        .form-input-wrapper input {
            width: 100%;
        }

        .buttons-group {
            width: 100%;
            gap: 10px;
            flex-direction: column;
            margin-top: 20px;

            p {
                text-align: center;
                margin: 0;
            }

            button:last-child {
                background-color: rgba(255,255,255,.05) !important;
                border-radius: 5px !important;
                height: 38.4px;
                justify-content: center;

                div:first-child {
                    padding: 0 !important;
                    display: flex;
                    background-color: transparent !important;
                }

                span {
                    color: white;
                }
            }
        }

        .error {
            color: var(--ui-error)
        }
    }
}