.profile-card {
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(255,255,255,.03);
    overflow: hidden;
    
    .category {
        position: absolute;
        left: 10px;
        top: 10px;
        border-radius: 30px;
        background-color: rgba(255,255,255,.05);
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        display: flex;
        gap: 5px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: rgba(255,255,255,.05);
        align-items: center;

        .name {
            margin-left: 5px;
        }
        
        .itemsCount {
            display: flex;
            gap: 5px;
            font-weight: 500;
            background-color: transparent;
            color: white;
            padding: 0px;
            padding-left: 15px;
            padding-right: 5px;
            box-sizing: border-box;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}