.page.prompt {
    --swiper-navigation-color: white;
    padding: 50px;

    .flex {
        display: flex;
        gap: 50px;
    }

    .info {
        width: 100%;

        p,
        h1 {
            margin: 0;
        }

        code+p {
            margin-top: 20px;
        }

        .actions {
            display: flex;
            gap: 5px;
            margin-top: 20px;
            align-items: center;

            .like-button {
                background-color: transparent;
                border: none;
                color: white;
                padding: 15px;
                padding-top: 20px;
                cursor: pointer;
            }
        }
    }

    .swiper-wrapper {
        width: 550px;
        height: 400px;
    }

    .swiper {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}