.smart-image-uploader {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .selected-image {
        position: relative;

        .image {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
        }

        button {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 24px;
            height: 24px;
            backdrop-filter: blur(5px);
            background-color: rgba(0,0,0,.5);
            border: none;
            border-radius: 5px;
            color: white;
            padding: 0;
            font-size: 13px;
            cursor: pointer;
            border: 1px solid rgba(255,255,255,.1);
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,.3);
        }
    }

    .selected-image,
    .add-button {
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, .05);
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .add-button {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgba(255, 255, 255, .07);
        }
    }
}