.app-header .search-bar {
    width: 100%;
    background-color: rgba(255, 255, 255, .05);
    display: flex;
    box-sizing: border-box;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;

    input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        appearance: none;
        color: white;
        outline: none;
        padding: 10px;

        &::placeholder {
            color: rgba(255, 255, 255, .5);
            opacity: 1;
        }
    }

    a {
        min-width: 30px;
        min-height: 30px;
        width: 50px;
        height: 30px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, .1);
        border: none;
        appearance: none;
        color: white;
        transition: all 0.3s ease;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgba(255, 255, 255, .2);
        }

        &:active {
            background-color: rgba(255, 255, 255, .15);
        }
    }
}

@media screen and (max-width: 800px) {
    .app-header .search-bar {
        display: none;
    }
}