.marketplace {
    display: flex;

    .sidebar {
        padding: 10px;
        box-sizing: border-box;
        min-width: 250px;

        h5 {
            margin-bottom: 8px;
        }
    }

    .cards {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .page.marketplace {
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 10px;
        gap: 50px;

        .sidebar {
            min-width: 100%;

            .items-switch {
                width: 100%;
            }
        }
    }
}