.items-switch {
    display: flex;
    background-color: transparent;
    width: fit-content;
    border-radius: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;

    .switch-item {
        display: block;
        border: none;
        background-color: transparent;
        appearance: none;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: fit-content;
        min-width: 3rem;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        transition: all 0.2s ease;
        cursor: pointer;
        margin: 5px;
        outline-color: var(--ui-focus-outline);
        outline-offset: 0px;
        color: rgba(255,255,255,.7);

        .bi + .title {
            margin-left: 8px;
        }

        &.error {
            background-color: transparent;
            color: var(--ui-text);
            box-shadow: initial;

            .bi {
                color: var(--ui-error);
            }
        }

        &.checked {
            background-color: var(--ui-accent);
            color: var(--ui-text-invert);
            outline-color: var(--ui-accent);
            outline-offset: 3px;

            box-shadow: 0px 5px 10px -8px var(--ui-accent);

            &.error {
                background-color: var(--ui-error);
                box-shadow: 0px 5px 10px -8px var(--ui-error);
                outline-color: var(--ui-error);

                .bi {
                    color: white;
                }
            }
        }

        &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &.vertical {
        min-width: 200px;
        display: block;

        .switch-item {
            width: calc(100% - 10px);

            justify-content: left;
            box-sizing: border-box;
            padding-left: 12px;
            padding-right: 10px;
        }
    }
}
