.page.sell {
    position: relative;

    .progress-wrapper {
        position: sticky;
        top: 60px;
        left: 0;
        width: 100%;
        display: flex;
        gap: 5px;
        align-items: center;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(20px);
        z-index: 99;
        padding: 5px;
        box-sizing: border-box;

        .form-button {
            padding-left: 20px;
            padding-right: 20px;
            background-color: transparent;

            &:hover {
                background-color: rgba(255, 255, 255, .05);
            }
        }

        .progress-bar-wrapper {
            width: 100%;
            position: relative;
            height: 5px;
            background-color: rgba(255, 255, 255, .05);
            border-radius: 5px;

            .progress-bar {
                position: relative;
                height: 5px;
                background-color: white;
                border-radius: 5px;
                transition: all 0.5s ease;
            }
        }

        .steps-wrapper {
            min-width: max-content;
            padding-left: 10px;
            padding-right: 5px;
            box-sizing: border-box;
        }
    }

    .left-col {
        padding: 50px;
        box-sizing: border-box;

        .prompt-info p {
            margin: 0;
            padding: 0;
        }

        .fields {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            align-items: flex-start;
            height: fit-content;
            max-width: 500px;

            .field {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .form-textarea-wrapper,
                .form-textarea-wrapper textarea,
                .form-textarea-wrapper .form-textarea,
                .form-input-wrapper,
                .form-input-wrapper input,
                .form-select-wrapper {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .page.sell {
        .left-col {
            padding: 20px;
        }
    }
}