.page.subscriptions {
    h1 {
        margin-bottom: 10px;
    }

    .form-button {
        margin: auto;
        margin-bottom: 1rem;
    }

    padding: 50px;
    text-align: center;
    justify-content: center;

    .subscriber-item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    .subscriber-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-right: 8px;
    }

    .subscriber-username {
        margin: 0;
    }
}