.product-card {
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .03);
    overflow: hidden;
    background-size: cover;
    text-decoration: none;
    color: var(--ui-text);

    .actions {
        display: flex;
        align-items: center;

        .like-button {
            background-color: transparent;
            border: none;
            color: white;
            padding: 15px;
            padding-top: 20px;
            cursor: pointer;
        }
    }

    .category {
        position: absolute;
        left: 10px;
        top: 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .1);
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
        text-shadow: 0px 1px 2px rgba(0, 0, 0, .6);
    }

    .title {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: rgba(10, 10, 10, 1);
        align-items: center;

        .name {
            margin-left: 5px;
        }

        .price {
            display: flex;
            gap: 5px;
            font-weight: 500;
            background-color: white;
            color: black;
            padding: 10px;
            font-weight: 500;
            font-size: 15px;
            line-height: 15px;
            padding-left: 15px;
            padding-right: 15px;
            box-sizing: border-box;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}