.form-select-wrapper {
    box-sizing: border-box;
    position: relative;

    .chevron {
        position: absolute;
        right: 0.65rem;
        bottom: 0.55rem;
        pointer-events: none;
    }

    p.select-error {
        color: var(--ui-error);
        margin-top: 0.125rem;
        margin-bottom: 0;
        text-align: left;
        transition: all 0.3s ease;
        height: 1.5rem;
        overflow: hidden;
    }

    .form-select {
        position: relative;
        display: flex;

        .form-select-main {
            width: 100%;
            position: relative;
        }

        .info-button-wrapper {
            margin-left: 0.5rem;
        }

        select {
            padding: 0rem;
            min-width: 12.5rem;
            border: none;
            border-radius: 0.3rem;
            background-color: black;
            box-shadow: 0rem 0rem 0rem 0.0625rem var(--ui-input-border);
            border: 0.125rem solid var(--ui-light);
            cursor: pointer;
            box-sizing: border-box;
            outline-color: transparent;
            outline-width: 0.125rem;
            outline-style: solid;
            transition: all 0.3s ease;
            font-size: 0.9375rem;
            font-weight: 400;
            appearance: none;
            width: 100%;
            height: 2.375rem;
            color: var(--ui-text);
            padding-left: 0.625rem;
            font-family: inherit;

            option {
                background-color: #0d0d0d;
            }
        }

        &:focus {
            outline-style: solid;
            outline-width: 0.125rem;
            outline-color: var(--ui-accent);
        }
    }

    .icon {
        position: absolute;
        background-color: var(--ui-overlay-light);
        height: 1.875rem;
        width: 1.875rem;
        border-radius: 0.3rem;
        left: 0.25rem;
        bottom: 0.25rem;
        display: flex;
        justify-content: center;
        pointer-events: none;
        align-items: center;
        z-index: 1;

        &::after {
            position: absolute;
            right: -0.5rem;
            top: 0;
            bottom: 0;
            width: 0.125rem;
            height: 1.25rem;
            margin: auto;
            border-radius: 0.625rem;
            content: '';
            background-color: var(--ui-overlay-dark-min);
        }

        + select {
            padding-left: 3rem;
        }
    }

    .form-select-label {
        color: var(--ui-dark);
        box-sizing: border-box;
        font-weight: 500;
        font-size: 0.9375rem;
        display: block;
        text-align: left;
        display: block;
        margin-bottom: 0.3125rem;
    }

    &.invalid {
        select {
            box-shadow: 0rem 0rem 0rem 0.0625rem var(--ui-input-invalid-border);

            &:focus,
            &.focus {
                outline-color: var(--ui-error) !important;
            }
        }

        .icon {
            color: var(--ui-error);

            &::after {
                background-color: var(--ui-error);
                opacity: 0.1;
            }

            &.primary {
                background-color: var(--ui-error) !important;
                color: white;
            }
        }
    }

    &.required .form-select-label::after {
        content: '*';
        color: var(--ui-error);
        margin-left: 0.125rem;
    }
}
