html {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  border-top: 6px rgba(255, 255, 255, 0) solid;
  border-bottom: 6px rgba(255, 255, 255, 0) solid;
  background-color: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #333;
  border: 4px rgba(255, 255, 255, 0) solid;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
  border: 4px rgba(255, 255, 255, 0) solid;
  background-clip: padding-box;
}

.buttons-group {
  display: flex;
  gap: 5px;
  justify-content: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page,
.fade-in {
  animation: fade-in 300ms;
}

.slides {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 100px;

  .slide {
    height: calc(100vh - 60px);
    background-color: transparent;

    h1 span {
      background-color: #4158D0;
      background-image: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .columns {
      display: flex;
      gap: 20px;
      align-items: center;

      .column {
        padding: 50px;
        box-sizing: border-box;
        width: 100%;
      }

      .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
    }

    &.flex {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .slide-content {
        text-align: center;
        max-width: 1300px;
      }
    }

    &.main {
      .slide-bg {
        position: absolute;
        background-image: url(./assets/jpg/background.jpg);
        background-size: 190%;
        opacity: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .slide-content {
        max-width: 700px;

        .buttons-group {
          margin-top: 50px;
          gap: 10px;
        }

        h3 {
          max-width: 500px;
          margin: auto;

          span {
            font-weight: 400;
          }
        }
      }
    }

    &.limited-h {
      height: fit-content;
    }

    .cards-wrapper {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;

      +button {
        margin: auto;
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .slides .main .slide-content {
    padding: 20px;
    box-sizing: border-box;
    zoom: .9;
  }
}