.dialog-window {
    position: fixed;
    background-color: var(--ui-modal-overlay);
    backdrop-filter: blur(0.625rem);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    z-index: 10;

    &.hidden {
        opacity: 0;
    }

    .dialog {
        position: relative;
        overflow: auto;
        background-color: var(--ui-background-body);
        border: 1px solid var(--ui-modal-border);
        min-width: 31.25rem;
        min-height: 15rem;
        max-width: 90vw;
        max-height: 90vh;
        border-radius: 0.5rem;
        box-shadow: 0rem 0rem 2rem 0rem var(--ui-overlay-dark-min);
        padding: 3.125rem;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        color: var(--ui-text);

        h2 {
            width: 100%;
            font-size: 1.25rem;
            text-align: center;
            margin-top: 0;
        }

        .footer {
            align-self: flex-end;
            display: flex;
            margin: auto;
        }

        .form-button {
            margin: 0.3125rem;
        }

        .close-button {
            min-width: 0;
            padding: 2px;
            height: 16px;
            width: 16px;
            top: 6px;
            position: absolute;
            right: 8px;
            line-height: 11px;
            font-size: 12px;
            box-shadow: 0rem 0.1rem 0.4rem -0.2rem var(--ui-error),
                0rem 0.1rem 5rem 0.3rem var(--ui-error);

            &:focus-visible {
                outline-color: var(--ui-error);
            }

            &:hover {
                transform: scale(1.1);
                box-shadow: 0rem 0.1rem 0.4rem -0.2rem var(--ui-error),
                    0rem 0.1rem 5rem 0.3rem var(--ui-error);
            }

            &:active {
                transform: scale(1);
            }
        }

        .dialog-main {
            width: 100%;
            text-align: center;
            margin-bottom: 1.25rem;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            .flex-row {
                display: flex;
                align-items: flex-start;
                box-sizing: border-box;
                gap: 0.7rem;
            }

            input {
                width: 100%;
            }

            .required-fields-notice {
                text-align: right;
                padding-bottom: 0;
            }

            .form-input-wrapper,
            .form-select-wrapper {
                width: 100%;
                max-width: 100% !important;
                box-sizing: border-box;

                .error {
                    text-align: left;
                    margin-bottom: 0.9375rem;
                }
            }

            .flex-row {
                width: 100%;

                .form-input-wrapper {
                    width: 100%;

                    &:first-child {
                        max-width: 9rem;
                    }
                }
            }
        }
    }

    &.hidden .dialog {
        transform: scale(0.9);
        opacity: 0;
    }
}

@media (max-width: 37.5rem) {
    .dialog-window .dialog {
        width: calc(100% - 3.125rem);
        min-width: 95%;
        margin: auto;

        .footer {
            flex-wrap: wrap-reverse;

            .form-button {
                width: 100%;
            }
        }
    }
}

@media (max-width: 25rem) {
    .dialog-window .dialog {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}