.app-header {
    padding: 10px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    z-index: 100;

    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
    box-sizing: border-box;

    margin: 0;

    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);

    .logo {
        width: 130px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 800px) {
    .app-header .header-item {
        display: none;
    }

    .language-change-wrapper {
        width: fit-content;
        margin-left: auto;
        margin-right: 40px !important;
    }
}

@media screen and (min-width: 800px) {
    .app-header .burger-menu-toggle, .app-header .burger-menu {
        display: none;
    }
}