.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
    padding: 0.6rem;
    height: 2.4rem;
    min-width: 10.625rem;
    width: max-content;
    border: none;
    border-radius: 0.3rem;
    background-color: rgba(255,255,255,.05);
    cursor: pointer;
    box-sizing: border-box;
    transition: opacity 0.3s ease, box-shadow 0.1s ease, text-shadow 0.1s ease,
        background 0.3s ease, transform 0.1s ease;
    font-size: 0.9375rem;
    outline: 0.125rem solid transparent;
    outline-offset: 0.125rem;
    color: var(--ui-text);
    transform: perspective(0.0625rem) translateZ(0);
    backface-visibility: hidden;
    text-decoration: none;
    font-family: inherit;
    appearance: none;
    overflow: hidden;

    * {
        pointer-events: none;
    }

    svg .set-fill {
        fill: var(--ui-text);
    }

    svg .set-stroke {
        stroke: var(--ui-text);
    }

    &.mini {
        min-width: 0;
    }

    &.rounded {
        border-radius: 2rem;
    }

    &:focus-visible {
        outline-color: var(--ui-focus-outline);
    }

    &.primary:focus-visible {
        outline-color: var(--ui-accent);
    }

    &:hover {
        &:focus-visible {
            outline-color: var(--ui-accent);
        }

        transform: scale(1.005);
    }

    &:active {
        transform: scale(0.99);
    }

    &.primary, &.active {
        background-color: white;
        box-shadow: 0rem 0.3125rem 1.25rem -0.9375rem var(--ui-accent);
        color: black;

        &:hover {
            box-shadow: 0rem 0.3125rem 1.25rem -0.625rem var(--ui-accent);
        }

        svg .set-fill {
            fill: white;
        }

        svg .set-stroke {
            stroke: white;
        }

        &.danger {
            background-color: var(--ui-error);
            box-shadow: 0rem 0.3125rem 1.25rem -0.9375rem var(--ui-error);

            &:hover {
                box-shadow: 0rem 0.3125rem 1.25rem -0.625rem var(--ui-error);
            }
        }
    }

    &.secondary.danger {
        &:hover {
            color: var(--ui-error);

            .bi {
                text-shadow: 0px 0px 30px var(--ui-error);
            }
        }
    }

    &.is-loading {
        cursor: not-allowed;
    }

    &[aria-disabled='true'] {
        background-color: var(--ui-background-mid);
        box-shadow: none;
        color: var(--ui-text);

        &:focus-visible {
            outline-color: var(--ui-focus-outline);
        }

        &:hover {
            box-shadow: none;
            opacity: 0.8;
        }
    }

    .bi + span,
    span + .bi,
    .bi + .bi {
        margin-left: 0.4rem;
    }

    .ui-spinner {
        width: 1rem;
        height: 1rem;
    }
}

.form-button-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: -100vw;

    &:focus-visible + label {
        outline-color: var(--ui-focus-outline);

        &.primary {
            outline-color: var(--ui-accent);
        }

        &:hover {
            outline-color: var(--ui-accent);
        }
    }
}
